<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>

  
	<div align="center">

	
	<div ng-if="BlockedArray.length == 0">
	<p>לא נמצאו חסומים כרגע</p>
	</div>
	
    

	

	
	<div  ng-repeat="item in BlockedArray" >

		<div class="ItemsList">
        	<div class="ItemsListImg" align="center">
            	<div style="width:84%"> 
                	<img class="itemImg" ng-if="item.followers[0].image" src="{{host}}/{{item.followers[0].image}}" ng-click="showBlockedModal(item.followers[0].image)"  style="width:100%;">
                	<img class="itemImg" ng-if="!item.followers[0].image" src="img/avatar.png"   style="width:100%;">
               
			   </div>
            </div>
            <div class="itemInfo">
            	<div>
                	<img ng-src="{{item.followers[0].sex |checkGender:true}}" style="width:10%; float:right" />
                	<p style="text-align:right; right:10px; top:7px; position:relative">{{item.followers[0].index}}</p>
                </div>
                <div style="margin-top:15px; width:100%">
                	<img src="img/small_heart.png" style="width:10%; float:right; margin-top:5px;" />
                	<p style="text-align:right; right:10px; font-size:16px; float:right; top:7px; position:relative">{{item.followers[0].friends}}</p>
                    <img src="img/friends.png" style="width:10%; float:right; margin-top:5px; margin-right:30px;" />
                	<p style="text-align:right; right:10px; font-size:16px; float:right; top:7px; position:relative">{{item.followers[0].friends}}</p>
                    <!--
					<p style="text-align:right; right:40px; font-size:16px; float:right; top:7px; position:relative">7.8 km</p>
					-->
                </div>
            </div>	
            <div>
                <div style="margin-top:15px; width:100%;" ng-if="CurrentUserId == item.user2">
                	<img ng-if="item.user2 == CurrentUserId" src="img/btns/b3.png" ng-click="removeBlock($index,item.index,0)" style="width:27%; float:right; margin-top:5px;" />
                    <img ng-if="item.accept1 == 1 && item.accept2 == 1 && item.user2 != CurrentUserId" src="img/btns/b3.png" ng-click="removeBlock($index,item.index,0)" style="width:27%; float:right; margin-top:5px;" />
					<img src="img/btns/b1.png" ng-click="removeBlock($index,item.index,1)" style="width:27%; float:right; margin-top:5px;" />
                </div>
            </div>
			
        </div>
        <div class="itemLine"></div>
	</div>
	

	
	
    
    
	<!--<div class="list" ng-repeat="item in BlockedArray">

		<div class="item item-thumbnail-left" >
		  <img src="{{host}}/{{item.followers[0].image}}">
		  <p>התחברות אחרונה : {{item.followers[0].lastlogin | lastseenDate}}</p>
		  <p>מין: {{getUserSex(item.followers[0].sex)}}</p>
		  <p>מצב כלכלי: {{getUserMoney(item.followers[0].money)}}</p>
		  <p>חברים : {{item.followers[0].friends}}</p>



		
		<button class="button button-positive" ng-click="removeBlock($index,item.index)">
		  הסר מחסומים
		</button>


		
		
		</div>


	</div>-->
	

	
	
	</div>

	  
  </ion-content>
  
          <script id="blocked-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" ng-click="closeBlockedModal()">
                  <ion-pane class="transparent">
                     <img ng-src="{{BlockedImage}}" class="fullscreen-image"/>
                  </ion-pane>
              </div>
          </script>

		  
</ion-view>
