<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>

  
	<div align="center">

	
	<div class="list">
	  <label class="item item-input">
		<input type="text" placeholder="שם מלא" ng-model="fields.name">
	  </label>
	  <label class="item item-input">
		<input type="tel" placeholder="טלפון" ng-model="fields.phone">
	  </label>
	  <label class="item item-input">
		<input type="email" placeholder="מייל" ng-model="fields.mail">
	  </label>	  
	  <label class="item item-input">
		<textarea placeholder="תוכן הפניה" ng-model="fields.desc"></textarea>
	  </label>
	</div>

	<div class="padding">
			<button class="button button-block button-positive" ng-click="sendContact()">שליחה</button>
	</div>	
	
	</div>

	  
  </ion-content>
</ion-view>
