<ion-view view-title="{{navTitle}}" hide-back-button="true"  cache-view="false" hide-nav-bar="true">
  <ion-content>

  
	<div class="list">
	  <label class="item item-input">
		<input type="tel" placeholder="מספר טלפון" ng-model="fields.phone">
	  </label>
	</div>

	<div class="padding">
			<button class="button button-block button-positive" ng-click="loginBtn()">התחברות</button>
	</div>

	  
  </ion-content>
</ion-view>
