<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>
	<div align="center">

	
	<div ng-if="MessagesArray.length == 0">
		<p>אין הודעות כרגע</p>
	</div>
	
	<div  ng-repeat="item in MessagesArray | orderBy:unreaddate:true " ng-if="item.visible == 0" >

		<div class="ItemsList">
        	<div class="ItemsListImg" align="center" ng-click="openChat(item)">
            	<div style="width:84%"> 
                	<img class="itemImg" ng-src="{{item.userimage}}"  style="width:100%;">
                </div>
            </div>
            <div class="itemInfo">
				
                <div style="margin-top:15px; width:100%">
                	<i class="ion-eye-disabled" ng-if="item.read > 0" style="font-size:30px; width:10%; float:right; margin-top:5px;"></i>
                	<p  style="text-align:right; right:10px; font-size:16px; float:right; top:7px; position:relative">
					<span ng-if="item.read > 0">{{item.read}}</span>
					</p>
					<!--
                    <img src="img/friends.png" style="width:10%; float:right; margin-top:5px; margin-right:30px;" />
                	<p style="text-align:right; right:10px; font-size:16px; float:right; top:7px; position:relative">{{item.followers[0].friends}}</p>
                    <p style="text-align:right; right:40px; font-size:16px; float:right; top:7px; position:relative">7.8 km</p>
					-->
                </div>
            </div>	
            <div>
                <div style="margin-top:15px; width:100%;">
					<img src="img/btns/b2.png" ng-click="openChat(item)" style="width:27%; float:right; margin-top:5px;" />				
                    <img src="img/btns/b5.png"  ng-click="blockChat($index,item)" style="width:27%; float:right; margin-top:5px;" />
                </div>
            </div>
        </div>
        <div class="itemLine"></div>
		


	</div>
	

	
	
	</div>

	  
  </ion-content>
  
          <script id="friends-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" ng-click="closeFriendsModal()">
                  <ion-pane class="transparent">
                     <img ng-src="{{FriendsImage}}" class="fullscreen-image"/>
                  </ion-pane>
              </div>
          </script>

		  
</ion-view>
