<ion-view hide-back-button="true" view-title="{{navTitle}}" cache-view="false">
  
  <!--
  <ion-nav-buttons side="right" >
        <div class="item-icon-left"  style="text-decoration:none;"   ng-click="goSettings()">
            <img src="img/settings.png"  style="width:30px; margin-top:2px; margin-right:7px;" />
  		</div>
  </ion-nav-buttons> 
  -->	
  


  
  <ion-content style="background-color:#e9e9e9">
	
		<!--
        <h3>Products</h3>
        <button ng-show="!products" ng-click="loadProducts()" class="button button-block button-balanced">
          <i class="ion-arrow-down-c"></i> Load Products
        </button>
		-->
		
        <button ng-repeat="product in products" ng-click="buy(product.productId)" class="button button-block button-positive">
          {{product.title}} - {{product.price}}
        </button>
		
		<!--
        <h3>Restore Purchases</h3>
        <button ng-click="restore()" class="button button-block button-balanced">
          <i class="ion-refresh"></i> Restore
        </button>
		-->
	
	
	  
  </ion-content>
</ion-view>
