<ion-view view-title="" cache-view="false">

  <ion-nav-bar class="bar-stable nav-title-slide-ios7 chatNavBar" >
		<ion-nav-back-button class="button-icon icon  ion-chevron-left">
		</ion-nav-back-button>
		<ion-nav-buttons side="right">

		
			<img ng-src="{{serverHost}}/{{recipentInfo.image}}"  style="width:55px; height:55px; border-radius:60px; margin-top:3px">
		</ion-nav-buttons>
	</ion-nav-bar>
	


	<div class="bar bar-footer" >
    	<!--  <label class="item-input-wrapper"  style="width:75%; float:left" focus-me> -->
              <input type="text" style="direction:rtl; width:80%; background-color:#eeeeee" id="chatInput"  focusMe autofocus placeholder="רשום הודעה..." data-ng-blur="chatBlur($event)"   ng-model="chatFields.chatbox" ng-keypress="enterPress($event)">
          <!--  </label>-->
              <img src="img/chat_arrow.png" style="width:7%; margin-left:10px; margin-top:1px;" ng-click="sendChat()" /> 
    </div>


  <ion-content class="has-header has-footer" style="margin-top:30px; margin-bottom:0px;" overflow-scroll="false">
  
		<div style="margin-bottom:20px !important;">
		
		<div  ng-repeat="messages in chatArray" class="mainChat"  style="">
        	<div align="center" ng-class = "messages.userid == user_local_storage ? 'chatImg' : 'chatImg1'">
                <img src="{{messages.userimage}}">
            </div>
            <div  ng-class = "messages.userid == user_local_storage ? 'chatText' : 'chatText1'">
                <!--<h2>{{messages.username}}</h2>-->
                <div style="margin-top:-8px;">
                    <img ng-if = "messages.userid == user_local_storage" src="img/chat/left_arrow.png" style="width:5%; margin-left:3px; position:absolute; margin-top:13px; float:left; height:32px;" />
                    
                    <div style="direction:rtl;" ng-class = "messages.userid == user_local_storage ? 'chatBubble1' : 'chatBubble2'" >
                        {{messages.text}}
                        <p class="timeChat">{{messages.time}}
                            <img src="img/chat/eye.png" style="width:20px; height:10px;" />
                        </p>
                    </div>
                   <img ng-if = "messages.userid != user_local_storage" src="img/chat/right_arrow.png" style="width:5%; margin-left:-6px; position:absolute; margin-top:13px; float:right; height:32px;" />
                </div>
            </div>
        </div>
		
		</div>
        

		
	  
  </ion-content>


		  
</ion-view>
