<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>

  
	<div align="center" >

	
	<div ng-if="FollowersArray.length == 0">
	<p>לא נמצאו עוקבים כרגע</p>
	</div>

	<div  ng-repeat="item in FollowersArray" >

		<div class="ItemsList">
        	<div class="ItemsListImg" align="center">
            	<div style="width:84%"> 
                	<img class="itemImg" ng-if="item.followers[0].image" src="{{host}}/{{item.followers[0].image}}" ng-click="showFollowersModal(item.followers[0].image)" style="width:100%;">
                    <img class="itemImg" ng-if="!item.followers[0].image" src="img/avatar.png"  style="width:100%;">

				</div>
            </div>
            <div class="itemInfo">
            	<div>
					<!-- <p>{{item.followers[0].sex}}</p> -->
                	<img ng-src="{{item.followers[0].sex |checkGender:true}}" style="width:10%; float:right" />
                	<p style="text-align:right; right:10px; top:7px; position:relative">{{item.followers[0].index}}</p>
                </div>
                <div style="margin-top:15px; width:100%">
                	<img src="img/small_heart.png" style="width:10%; float:right; margin-top:5px;" />
                	<p style="text-align:right; right:10px; font-size:16px; float:right; top:7px; position:relative">{{item.followers[0].friends}}</p>
                    <img src="img/friends.png" style="width:10%; float:right; margin-top:5px; margin-right:30px;" />
                	<p style="text-align:right; right:10px; font-size:16px; float:right; top:7px; position:relative">{{item.followers[0].friends}}</p>
                    <!--
					<p style="text-align:right; right:40px; font-size:16px; float:right; top:7px; position:relative">7.8 km</p>
					-->
                </div>
            </div>	

            <div>
                <div style="margin-top:15px; width:100%;">
                	<img ng-if="item.user2 == CurrentUserId" src="img/btns/b4.png" ng-click="updateAction($index,item,item.index,0)" style="width:27%; float:right; margin-top:5px;" />
                    <img src="img/btns/b5.png"  ng-click="updateAction($index,item,item.index,1)" style="width:27%; float:right; margin-top:5px;" />
                </div>
            </div>
        </div>
        <div class="itemLine"></div>



	</div>
	
	
	
<!--
	<div class="list" ng-repeat="item in FollowersArray">

		<div class="item item-thumbnail-left" >
		  <img src="{{host}}/{{item.followers[0].image}}">
		  <p>התחברות אחרונה : {{item.followers[0].lastlogin | lastseenDate}}</p>
		  <p>מין: {{getUserSex(item.followers[0].sex)}}</p>
		  <p>מצב כלכלי: {{getUserMoney(item.followers[0].money)}}</p>
		  <p>חברים : {{item.followers[0].friends}}</p>
		  
		<button class="button button-assertive" ng-click="updateAction($index,item.index,1)">
		  חסום משתמש
		</button>

		
		<button class="button button-positive" ng-click="updateAction($index,item.index,0)">
		  הוסף לחברים
		</button>


		
		
		</div>


	</div>
-->

	
	
	</div>

	  
  </ion-content>
  
          <script id="followers-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" ng-click="closeFollowersModal()">
                  <ion-pane class="transparent">
                     <img ng-src="{{FollowersImage}}" class="fullscreen-image"/>
                  </ion-pane>
              </div>
          </script>

		  
</ion-view>
